.vantagens-bg {
    background-color: var(--cor-12);
    --padding: 120px;
}

.vantagens {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.vantagens h2 {
    margin-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content)); /*Interessante, ao invés de adicionar vários grid-template... Podemos usar essa solução prática */
    gap: 40px 80px;
}

.vantagens h3, .vantagens img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens-bg {
        --padding: 60px; /* Dá para agilizar essa parte de padding utilizando var */
    }

    .vantagens h2 {
        margin-bottom: 40px;
    }

    .vantagens ul {
        gap: 20px;
    }
}