* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.item {
    width: auto;
    background-color: #111;
    border-radius: 8px;
    margin: 50px;
    padding: 18px;
}

h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2;
    margin-bottom: 6px;
    margin-left: 5px;
}

a {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 5px;
    color: #332200;
    background-color: #febe01;
    text-decoration: none;
}

footer {
    text-align: center;
}
