* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links a {
    text-decoration: none;
    padding: 10px;
    background-color: #e7e7e7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

.img-bike {
    width: 500px;
    height: 370px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    place-self: center;
}

.bloco1 {
    position: relative;
    align-content: center;
    gap: 20px;
    padding: 40px;
    text-align: right;
    
    display: grid;
    justify-items: end;
}

.bloco1 h2 {
    font-size: 36px;
    margin: 0;
}

.bloco1 p {
    font-size: 25px;
    margin: 0;
}

.bloco1 a {
    padding: 20px 30px;
    background-color: rgb(255, 13, 13);
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.vermelho {
    background-color: red;
    width: 50px;
    height: 6px;
    position: absolute;
    top: 20px;
    right: -25px;
    
}



.bloco3 {
    place-content: center;
    text-align: end;
    font-size: 64px;
    padding: 30px;
    color: rgba(0, 0, 0, 0.2);
}

.bloco4 {
    padding: 50px;
}

.bloco4 p {
    margin: 0;
    font-size: 20px;
}

.icon-p {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    align-items: center;
    gap: 10px 20px;
    padding: 20px;
}

.icon-p p {
    grid-column: 2;
}

.icon-p h3 {
    margin: 0;
}

footer {
    text-align: center;
    background-color: #ddd;
    padding: 30px;
    box-sizing: border-box;
}
