/*Position: relative*/
.div {
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
    position: relative; /*Para funcionar o absolute em relação ao elemento pai (No caso, div)*/
}

.relative {
    background-color: #e7e7e7;
    border: 2px solid #ccc;
    padding: 10px;
    position: relative;
    top: -20px;
}

/*Position: absolute*/

.absolute {
    background-color: #e7e7e7;
    border: 2px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 0; /*Em relação a div (Pai)*/
}

/*Position: fixed*/
p {
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

.fixo {
    position: fixed; /*Ele some... Precisamos definir os valores: top, right, bottom e left*/
    right: 20px;
    left: 20px;
    bottom: 20px;
}

/*z-index*/

.z-index {
    margin: 200px 0;
    position: relative;
}

h2 {
    margin: 0;
    padding: 10px;
    background-color: lightblue;
}

.index1 {
    position: relative;
    background-color: greenyellow;
    width: 600px;
    top: 20px;
    left: 10px;
    z-index: 1;
}

.index2 {
    position: absolute;
    background-color: lightcoral;
    top: 40px;
    left: 50px;
    z-index: 0;
}

.index3 {
    position: relative;
    z-index: 3;
}
