img {
    width: 100%;
    display: block;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

h1 {
    grid-column: 1 / -1;
}

/*menor que 600px*/
@media (max-width: 600px) {
    div {
        grid-template-columns: 1fr;
    }
    h1 {
        background-color: lightcoral;
    }
}

@media (max-width: 400px) {
    img {
        display: none;
    }
}

@media (min-width: 1000px), (max-width: 500px) {
    html {
        font-size: 150%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    p {
        background-color: skyblue;
    }
}

/*Aplica só quando imprimir a página*/
@media print {
    body {
        background-color: pink;
    }
}