nav {
    display: flex;
    /*Lembre-se dessas duas propriedades: */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    display: block;
    text-decoration: none;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 7px;
    color: #000;
}

.ul {
    list-style: square;
}

/*dd vem com margin inicial*/
dl, dd {
    margin: 0;
}